<div class="cards">
<% data.site.posts.each do |_id, post| %>
  <% date = post.publish_date %>
  <% post.path = "/blog/#{date.year}-#{'%02i' % date.month}-#{'%02i' % date.day}-#{post.slug}/" %>
  <div class="card">
    <div class="card-image">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png" alt="">
    </div>
    <div class="card-header">
      <%= post.title %>
    </div>
    <div class="card-copy">
      <p><%=post.description%></p>
    </div>
    <div class="card-link">
    <%= link_to 'View Post', post.path, :relative => true %>
    </div>
  </div>
<% end %>
</div>

<div class="cards">
<% data.site.pages.each do |_id, page|
  path = "#{page.slug}/index.html" %>
  <div class="card">
    <div class="card-image">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png" alt="">
    </div>
    <div class="card-header">
      <%= page.title %>
    </div>
    <div class="card-copy">
      <p><%=page.description%></p>
    </div>
    <div class="card-link">
    <a href="<%= page.path %>">View Link</a>
    </div>
  </div>
<% end %>
</div>