<head>
  <link href='//fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Sanchez:400italic,400' rel='stylesheet' type='text/css'>
</head>

<div id="js-parallax-window" class="parallax-window">
  <div class="parallax-static-content">
    <h1 class="hero"><%= post.title %></h1>
    <p class="date hero"><%= post.publish_date.strftime('%b %d, %Y') %></p>

  </div>
  <div id="js-parallax-background" class="parallax-background"></div>
</div>

<article class="type-system-geometric">
    <%= markdown(post.body) %>
  <p class="author"><%= post.author.name %></p>
</article>

