

<div class="side-image">
  <div class="images-wrapper"></div>
    <div class="side-image-content">
      <h1><%= page.title%></h1>
      <p><%= page.description %></p>
        <form action="#">
            <label for="fname">Email:</label><br>
            <input type="text" id="fname" name="fname" value="John"><br>
            <input type="submit" value="Submit">
        </form> 
      </div>
</div>