
<div class="side-image">
  <div class="images-wrapper"></div>
    <div class="side-image-content">
    <h4><%= page.template_name %></h4>
      <h1><%= page.title %></h1>
      <p><%= page.description %></p>
      <button>Register</button>
      </div>
</div>